body
 {
    margin: 0px;
    background-color: rgba(215, 215, 215, 1);
    background-image: none;
    position: static;
    left: auto;
    width: 768px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    
}
h1
{

color: black;
font-size: 60px;
font-family: Arial, Helvetica, sans-serif;



}
ul li

{
    text-align: left;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul {
    margin: 0;
    padding: 0;
  }
  ul li:hover {
    background: #ddd;
  }
  
  ul li.checked
    {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  ul li.checked::before 
  {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 13px 15px 13px 15px;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}


input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.close:hover {
  background-color: #448ae1;
  color: white;
}


  .header {
    background-color: #8f8585;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }  

.addbutton {
    padding: 10px;
    width: 25%;
    background: #fff;
    color: rgb(48, 47, 47);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addbutton:hover
   {
    background-color: #bbb;
  }
