header {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    border-radius: 25px;
    background-image: url("istockphoto-1129050990-612x612.jpg");

    border: 20px solid white;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
}

h1 {
    font-size: 60px;
    text-align: left;
}






footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    border-radius: 15px;
    border: 10px solid white;
    background-image: url("istockphoto-1129050990-612x612.jpg");
position: center;
   
}


table
{
font-size: 25px;
text-align: center;
margin-bottom: 25px;
}
th
{
font-size: 30px;
height: 100;
font-weight: normal;
}
.tres
{
height: 20px;   
font-size: 30px;
position: inherit;
}


a {

    text-decoration: none;
    color: white;
}

image {

    border-radius: 30px;

}

.nav {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    font-size: 40px;
    border: 10px solid white;
    border-radius: 7px;
}

.nav a:hover {
    color: blue;
}

p {
    font-size: 20px;
}




ul {
    font-size: 20px;
color: white;


}
li
{
    list-style: none;
}
form
{
    text-align: center;
    
}

input

{
font-size: 40px;
color: black;
border-radius: 10px;
width: 60%;

}
.message
{

    height: 100px;
}

.button
{
padding-right: 10px;
width: 150px;
padding-top: 7px;
}

#Logo

{
    float: right;
    margin-right: 260px;
    margin-top: 25px;
    height: 5rem;
    width: 10rem;
    border-bottom: none;
}

p
{
    color: white;
}

h2
{
    color: white;
}
h1
{
    color: white;
   text-align: center;
}
h3
{
    color: white;
}